datasets==3.2.0
numpy<2.0
pandas==2.2.3
torch==2.4.0
sympy<1.13
transformers==4.48.3
trl==0.14.0
peft
wandb==0.19.6
accelerate==1.0.1
deepspeed==0.15.4
hf-transfer==0.1.9
flash-attn
qiskit==1.2.4
qiskit_aer==0.16.1
qiskit_algorithms==0.3.1
qiskit_qasm3_import==0.5.1